/*html*/

html {
    font-family: Arial;
}

/*Haut du site*/

header {
    text-align: right;
    font-size: 15px;
    margin-top: 0%
}
header a {
    text-decoration: none;
    color: black;
    padding-left: 11px;
    padding-right: 11px;
}

/*CARRE ICON */

#icon {
    height: 20px;
    position: static;
    top: 10px;
    margin-right: 10px;
    opacity: 0.5;
}
/*Carre bleu connection*/
#connexion {
    background-color: DodgerBlue;
    color: white;
    padding: 8px 15px 8px 15px;
    margin-right: 20px;
    font-weight: bold;
}

/*image google*/

.imagegoogle {
    margin-top: 20px;
    text-align: center;
}

/*barre de recherche google*/

input {
    margin-top: 0px;
    height: 20px;
    width: 680px;
    border: 1px solid grey;
}

/*bouton recherche*/

.buttonrecherche {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 40px;
}
/*ecriture du bouton*/
.buttonrecherche a {
    text-decoration: none;
    color: grey;
    background-color: #grey;
    padding: 15px 25px 15px 25px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}
